# Node
node_modules/

# Build output
dist/

# Environment
.env
.env.local
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
.vscode/

# Coverage
coverage/

# Migration builds
dist-migrations/

# Application logs
logs/

# Mac
.DS_Store
